streamlit==1.37.0

# Compatibles avec ydata-profiling 4.6.0
pandas==2.0.3          # (< 2.1 requis par ydata-profiling 4.6.0)
numpy==1.25.2          # (< 1.26 requis par ydata-profiling 4.6.0 ; évite 1.24.0)
matplotlib==3.7.3      # (≤ 3.7.3 requis par ydata-profiling 4.6.0)
seaborn==0.12.2        # (< 0.13 requis par ydata-profiling 4.6.0)

scikit-learn==1.4.2
scipy==1.11.4
joblib==1.3.2

ydata-profiling==4.6.0
phik==0.12.4

# Épingles pour éviter les conflits vus dans les logs avec Streamlit 1.37
rich==13.9.4
markdown-it-py==3.0.0
mdurl==0.1.2
